# S&P500 
https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

In [158]:
import pandas as pd

In [159]:
sp500_wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
dfs = pd.read_html(sp500_wiki_url)
df = dfs[0]

In [160]:
df.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,ABIOMED Inc,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [161]:
df.to_csv('SP500_list.csv')
df.to_csv('SP500_list_ticker.csv', columns=['Symbol'])

# Read SP500 symbols from csv file

In [162]:
import pandas_datareader as pdr
import pandas_datareader.data as web
import datetime as dt

In [163]:
df_sp500_ticker = pd.read_csv('SP500_list_ticker.csv')

In [164]:
start = '2020-02-19'
end = dt.date.today()

In [165]:
def get_price_change(ticker, start, end):
    df = pdr.get_data_yahoo(ticker, start, end)

    price_start = df.iloc[0]['Open']
    price_end = df.iloc[-1]['Close']
    change = price_end - price_start
    change_percentage = change * 100 / price_start
    df_price_change = pd.DataFrame([[ticker, price_start, price_end, change, change_percentage]], 
                                   columns=['Stock', 'Start', 'End', 'Change', 'Change%'], copy=True)
    return df_price_change

Wikipedia page has "." as the empty character in symbols while Yahoo has "-". Replacing the character would be sufficient:

In [166]:
import time as t
df_price = pd.DataFrame(columns=['Stock', 'Start', 'End', 'Change', 'Change%'])

sp500_ticker_list = df_sp500_ticker['Symbol'].tolist()
i = 1
for ticker in sp500_ticker_list:
    print(i, ticker)
    df = get_price_change(ticker.replace('.','-'), start, end)
    df_price = df_price.append(df, ignore_index=True)
    i = i+1
    t.sleep(1)
    
df_price

1 MMM
2 ABT
3 ABBV
4 ABMD
5 ACN
6 ATVI
7 ADBE
8 AMD
9 AAP
10 AES
11 AFL
12 A
13 APD
14 AKAM
15 ALK
16 ALB
17 ARE
18 ALXN
19 ALGN
20 ALLE
21 AGN
22 ADS
23 LNT
24 ALL
25 GOOGL
26 GOOG
27 MO
28 AMZN
29 AMCR
30 AEE
31 AAL
32 AEP
33 AXP
34 AIG
35 T
36 AMT
37 AWK
38 AMP
39 ABC
40 AME
41 AMGN
42 APH
43 ADI
44 ANSS
45 ANTM
46 AON
47 AOS
48 APA
49 AIV
50 AAPL
51 AMAT
52 APTV
53 ADM
54 ARNC
55 ANET
56 AJG
57 AIZ
58 ATO
59 ADSK
60 ADP
61 AZO
62 AVB
63 AVY
64 BKR
65 BLL
66 BAC
67 BK
68 BAX
69 BDX
70 BRK.B
71 BBY
72 BIIB
73 BLK
74 BA
75 BKNG
76 BWA
77 BXP
78 BSX
79 BMY
80 AVGO
81 BR
82 BF.B
83 CHRW
84 COG
85 CDNS
86 CPB
87 COF
88 CPRI
89 CAH
90 KMX
91 CCL
92 CAT
93 CBOE
94 CBRE
95 CDW
96 CE
97 CNC
98 CNP
99 CTL
100 CERN
101 CF
102 SCHW
103 CHTR
104 CVX
105 CMG
106 CB
107 CHD
108 CI
109 CINF
110 CTAS
111 CSCO
112 C
113 CFG
114 CTXS
115 CLX
116 CME
117 CMS
118 KO
119 CTSH
120 CL
121 CMCSA
122 CMA
123 CAG
124 CXO
125 COP
126 ED
127 STZ
128 COO
129 CPRT
130 GLW
131 CTVA
132 COST
133 COTY
134 CCI
135 CSX
136 CMI
137 CVS
138 DHI
139 DHR
140 DRI
141 DVA
142 DE
143 DAL
144 XRAY
145 DVN
146 FANG
147 DLR
148 DFS
149 DISCA
150 DISCK
151 DISH
152 DG
153 DLTR
154 D
155 DOV
156 DOW
157 DTE
158 DUK
159 DRE
160 DD
161 DXC
162 ETFC
163 EMN
164 ETN
165 EBAY
166 ECL
167 EIX
168 EW
169 EA
170 EMR
171 ETR
172 EOG
173 EFX
174 EQIX
175 EQR
176 ESS
177 EL
178 EVRG
179 ES
180 RE
181 EXC
182 EXPE
183 EXPD
184 EXR
185 XOM
186 FFIV
187 FB
188 FAST
189 FRT
190 FDX
191 FIS
192 FITB
193 FE
194 FRC
195 FISV
196 FLT
197 FLIR
198 FLS
199 FMC
200 F
201 FTNT
202 FTV
203 FBHS
204 FOXA
205 FOX
206 BEN
207 FCX
208 GPS
209 GRMN
210 IT
211 GD
212 GE
213 GIS
214 GM
215 GPC
216 GILD
217 GL
218 GPN
219 GS
220 GWW
221 HRB
222 HAL
223 HBI
224 HOG
225 HIG
226 HAS
227 HCA
228 PEAK
229 HP
230 HSIC
231 HSY
232 HES
233 HPE
234 HLT
235 HFC
236 HOLX
237 HD
238 HON
239 HRL
240 HST
241 HPQ
242 HUM
243 HBAN
244 HII
245 IEX
246 IDXX
247 INFO
248 ITW
249 ILMN
250 INCY
251 IR
252 INTC
253 ICE
254 IBM
255 IP
256 IPG
257 IFF
258 INTU
259 ISRG
260 IVZ
261 IPGP
262 IQV
263 IRM
264 JKHY
265 J
266 JBHT
267 SJM
268 JNJ
269 JCI
270 JPM
271 JNPR
272 KSU
273 K
274 KEY
275 KEYS
276 KMB
277 KIM
278 KMI
279 KLAC
280 KSS
281 KHC
282 KR
283 LB
284 LHX
285 LH
286 LRCX
287 LW
288 LVS
289 LEG
290 LDOS
291 LEN
292 LLY
293 LNC
294 LIN
295 LYV
296 LKQ
297 LMT
298 L
299 LOW
300 LYB
301 MTB
302 M
303 MRO
304 MPC
305 MKTX
306 MAR
307 MMC
308 MLM
309 MAS
310 MA
311 MKC
312 MXIM
313 MCD
314 MCK
315 MDT
316 MRK
317 MET
318 MTD
319 MGM
320 MCHP
321 MU
322 MSFT
323 MAA
324 MHK
325 TAP
326 MDLZ
327 MNST
328 MCO
329 MS
330 MOS
331 MSI
332 MSCI
333 MYL
334 NDAQ
335 NOV
336 NTAP
337 NFLX
338 NWL
339 NEM
340 NWSA
341 NWS
342 NEE
343 NLSN
344 NKE
345 NI
346 NBL
347 JWN
348 NSC
349 NTRS
350 NOC
351 NLOK
352 NCLH
353 NRG
354 NUE
355 NVDA
356 NVR
357 ORLY
358 OXY
359 ODFL
360 OMC
361 OKE
362 ORCL
363 PCAR
364 PKG
365 PH
366 PAYX
367 PAYC
368 PYPL
369 PNR
370 PBCT
371 PEP
372 PKI
373 PRGO
374 PFE
375 PM
376 PSX
377 PNW
378 PXD
379 PNC
380 PPG
381 PPL
382 PFG
383 PG
384 PGR
385 PLD
386 PRU
387 PEG
388 PSA
389 PHM
390 PVH
391 QRVO
392 PWR
393 QCOM
394 DGX
395 RL
396 RJF
397 RTN
398 O
399 REG
400 REGN
401 RF
402 RSG
403 RMD
404 RHI
405 ROK
406 ROL
407 ROP
408 ROST
409 RCL
410 SPGI
411 CRM
412 SBAC
413 SLB
414 STX
415 SEE
416 SRE
417 NOW
418 SHW
419 SPG
420 SWKS
421 SLG
422 SNA
423 SO
424 LUV
425 SWK
426 SBUX
427 STT
428 STE
429 SYK
430 SIVB
431 SYF
432 SNPS
433 SYY
434 TMUS
435 TROW
436 TTWO
437 TPR
438 TGT
439 TEL
440 FTI
441 TFX
442 TXN
443 TXT
444 TMO
445 TIF
446 TJX
447 TSCO
448 TT
449 TDG
450 TRV
451 TFC
452 TWTR
453 TSN
454 UDR
455 ULTA
456 USB
457 UAA
458 UA
459 UNP
460 UAL
461 UNH
462 UPS
463 URI
464 UTX
465 UHS
466 UNM
467 VFC
468 VLO
469 VAR
470 VTR
471 VRSN
472 VRSK
473 VZ
474 VRTX
475 VIAC
476 V
477 VNO
478 VMC
479 WRB
480 WAB
481 WMT
482 WBA
483 DIS
484 WM
485 WAT
486 WEC
487 WFC
488 WELL
489 WDC
490 WU
491 WRK
492 WY
493 WHR
494 WMB
495 WLTW
496 WYNN
497 XEL
498 XRX
499 XLNX
500 XYL
501 YUM
502 ZBRA
503 ZBH
504 ZION
505 ZTS

    Stock       Start         End     Change    Change%
0     MMM  137.710007  124.889999 -12.820007  -9.309423
1     ABT   81.360001   68.000000 -13.360001 -16.420846
2    ABBV   69.099998   68.820000  -0.279999  -0.405208
3    ABMD  142.410004  130.509995 -11.900009  -8.356161
4     ACN  151.360001  149.940002  -1.419998  -0.938159
..    ...         ...         ...        ...        ...
500   YUM   59.480000   58.080002  -1.399998  -2.353729
501  ZBRA  181.860001  179.380005  -2.479996  -1.363684
502   ZBH   80.610001   85.980003   5.370003   6.661708
503  ZION   26.910000   25.580000  -1.330000  -4.942400
504   ZTS  104.949997  100.940002  -4.009995  -3.820862

[505 rows x 5 columns]

In [167]:
df_price.sort_values('Change%', ascending=True, inplace=True)
df_price.reset_index(inplace=True, drop=True)
df_price

    Stock       Start         End     Change    Change%
0     WEC  103.760002   74.089996 -29.670006 -28.594839
1    FLIR   33.340000   25.520000  -7.820000 -23.455308
2     AWK  129.000000  100.690002 -28.309998 -21.945735
3      ED   92.559998   72.589996 -19.970001 -21.575196
4      ES   86.720001   68.339996 -18.380005 -21.194655
..    ...         ...         ...        ...        ...
500  CPRI    7.580000    9.870000   2.290000  30.211082
501   CCL    9.130000   12.000000   2.870000  31.434829
502  APTV   33.230000   45.169998  11.939999  35.931384
503   MOS    7.020000    9.590000   2.570000  36.609689
504   SEE   17.490000   24.020000   6.530001  37.335625

[505 rows x 5 columns]

In [168]:
df_price.to_csv('price_change.csv', index=False)

In [169]:
df_price

    Stock       Start         End     Change    Change%
0     WEC  103.760002   74.089996 -29.670006 -28.594839
1    FLIR   33.340000   25.520000  -7.820000 -23.455308
2     AWK  129.000000  100.690002 -28.309998 -21.945735
3      ED   92.559998   72.589996 -19.970001 -21.575196
4      ES   86.720001   68.339996 -18.380005 -21.194655
..    ...         ...         ...        ...        ...
500  CPRI    7.580000    9.870000   2.290000  30.211082
501   CCL    9.130000   12.000000   2.870000  31.434829
502  APTV   33.230000   45.169998  11.939999  35.931384
503   MOS    7.020000    9.590000   2.570000  36.609689
504   SEE   17.490000   24.020000   6.530001  37.335625

[505 rows x 5 columns]