# S&P500 
https://en.wikipedia.org/wiki/List_of_S%26P_500_companies

In [0]:
import pandas as pd

In [0]:
sp500_wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
dfs = pd.read_html(sp500_wiki_url)
df = dfs[0]

In [11]:
df.head()

  Symbol             Security  ...      CIK      Founded
0    MMM           3M Company  ...    66740         1902
1    ABT  Abbott Laboratories  ...     1800         1888
2   ABBV          AbbVie Inc.  ...  1551152  2013 (1888)
3   ABMD          ABIOMED Inc  ...   815094         1981
4    ACN        Accenture plc  ...  1467373         1989

[5 rows x 9 columns]

In [0]:
df.to_csv('SP500/SP500_list.csv')
df.to_csv('SP500/SP500_list_ticker.csv', columns=['Symbol'])

# Read SP500 symbols from csv file

In [0]:
import pandas_datareader.data as web
import datetime as dt

In [23]:
df = pd.read_csv('SP500/SP500_list_ticker.csv')

   Unnamed: 0 Symbol
0           0    MMM
1           1    ABT
2           2   ABBV
3           3   ABMD
4           4    ACN

In [0]:
start = '2020-01-01'
end = dt.date.today()
df = web.DataReader('TSLA', 'yahoo', start, end)

In [0]:
df_result = pd.DataFrame(columns=['Stock', 'Start', 'End', '%'])